{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-custom mt-5">
  <!-- Page Title -->
  <h1 class="jumbotron-title mb-5">Choose Type of Document</h1>

  <!-- Stacked Card Container -->
  <div class="flex-row gap-3">
    <!-- Document Type Selection Section -->
    <div class="card-custom shadow-sm p-5 mb-5">
      <h2 class="document-title mb-4 text-center">Create a New Document</h2>
      <form method="post" action="{% url 'document_type_select' %}" id="documentTypeForm">
        {% csrf_token %}
        <div class="form-group mb-2">
          <label for="documentTypeSelect" class="form-label">Select Document Type</label>
          <select class="form-control form-control-lg" name="document_type" id="documentTypeSelect" required onchange="this.form.submit()">
            <option value="" disabled selected>Select a document type</option>
            {% for document_type in document_types %}
              {% if not document_type.id == 1001 %}
                <option value="{{ document_type.id }}" {% if selected_document_type and selected_document_type.id == document_type.id %}selected{% endif %}>
                  {{ document_type.name }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
      </form>

    </div>
    <div class="d-flex align-items-center my-3">
      <hr class="flex-grow-1">
      <span class="mx-3 text-muted">or</span>
      <hr class="flex-grow-1">
    </div>
    <!-- Upload PDF Section -->
    <div class="card-custom shadow-sm p-5 mb-5">
      <h2 class="document-title text-center mb-4">Upload a PDF</h2>
      <form method="post" action="{% url 'document_type_select' %}">
        {% csrf_token %}
        <input type="hidden" name="document_type" id="document_type" value="1001">
        <button class="button-primary button-lg w-100 mt-4" type="submit">Upload PDF</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>
{{ form.media }}
{% endblock footer %}
