{% extends '_base.html' %}
{% load static %}

{% block title %}Delete Document Type{% endblock title %}

{% block content %}
  <div class="container-custom mt-5">
    <div class="jumbotron-custom text-center shadow-sm mb-5">
      <h1 class="jumbotron-title">Delete Document Type</h1>
      <hr class="my-4">
      <p class="jumbotron-text mb-4">Are you sure you want to delete the document type "{{ object.name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="button-primary button-lg">Confirm Delete</button>
        <a href="{% url 'document_type_list' %}" class="button-secondary button-lg ml-3">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
