{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Patient{% endblock title %}

{% block content %}
  <div class="container-custom mt-5">
    <div class="jumbotron-custom text-center shadow-sm mb-5">
      <h3 class="jumbotron-title">Delete Patient</h3>
      <hr class="my-4">
      <p class="jumbotron-text mb-4">Are you sure you want to delete the patient <strong>{{ patient.name }}</strong>?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="button-primary button-lg">Yes, delete</button>
        <a href="{% url 'patient_detail' patient.pk %}" class="button-secondary button-lg ml-3">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
